<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/icon.png" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="main">
        <% if (user) { %>
        <section class="welcome">
          <h1 class="heading">Welcome back <%= user.username %></h1>
          <a class="new-message-btn go-to-messages" href="/browse-messages"
            >Browse messages</a
          >
          <a class="new-message-btn" href="/new-message">Create new message</a>
          <a class="logout-btn" href="/logout">Log Out</a>
        </section>
        <% } else { %>
        <section class="welcome">
          <h1 class="heading">Welcome to Members Only!</h1>
          <a class="new-message-btn go-to-messages" href="/browse-messages"
            >Browse messages</a
          >
          <a class="sign-up-btn" href="/sign-up">Sign Up</a>
          <p class="welcome-text">
            Already have an account?
            <a class="login-btn" href="/login">Login</a>
          </p>
        </section>
        <% } %>
      </main>
      <%- include('partials/footer') %>
    </div>
    <script src="./javascript/dropdown.js" defer></script>
  </body>
</html>
