<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="main">
        <% if (user) { %>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/logout">LOG OUT</a>
        <a href="/update-membership">UPDATE MEMBERSHIP STATUS</a>
        <a href="/update-admin">UPDATE ADMIN STATUS</a>
        <a href="/new-message">CREATE NEW MESSAGE</a>
        <% } else { %>
        <h1>Please log in</h1>
        <form action="/login" method="POST">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            placeholder="username"
            type="text"
          />
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
          <button>Log In</button>
        </form>
        <% } %>
      </main>
    </div>
  </body>
</html>
