<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new message</title>
  </head>
  <body>
    <form action="/new-message" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />
      <label for="text">Message:</label>
      <input type="text" id="text" name="text" required />
      <button type="submit">Create new message</button>
    </form>
  </body>
</html>
