<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Message</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="main">
        <form class="message-form" action="/new-message" method="post">
          <label class="form-label" for="title">Title:</label>
          <input
            class="form-input"
            type="text"
            id="title"
            name="title"
            required
            placeholder="Message Title"
          />
          <label class="form-label" for="text">Message:</label>
          <textarea
            class="form-input"
            type="text"
            id="text"
            name="text"
            required
            placeholder="Your Message"
          ></textarea>
          <button class="submit-btn" type="submit">Create new message</button>
        </form>
      </main>
    </div>
    <script src="./javascript/dropdown.js" defer></script>
  </body>
</html>
