<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Membership Status</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/icon.png" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="main">
        <form class="message-form" action="/update-membership" method="post">
          <% if (errors) { %>
          <ul class="error-list">
            <% errors.forEach(error => { %>
            <li class="error"><%= error.msg %></li>
            <% }) %>
          </ul>
          <% } %>

          <label class="form-label" for="passcode">Passcode:</label>
          <input
            class="form-input"
            type="password"
            id="passcode"
            name="passcode"
            required
          />

          <button class="submit-btn" type="submit">Submit</button>
        </form>
      </main>
    </div>
    <script src="./javascript/dropdown.js" defer></script>
  </body>
</html>
