<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Membership Status</title>
  </head>
  <body>
    <form action="/update-membership" method="post">
      <% if (errors) { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <label for="passcode">Passcode:</label>
      <input type="password" id="passcode" name="passcode" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
